<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="userid">User Id:</label>
      <input formControlName="userid" placeholder="User ID" name="userid" class="form-control" id="userid">
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="fname">First Name:</label>
      <input formControlName="fname" placeholder="First Name" name="fname" class="form-control" id="fname">
    </div>

    <div class="form-group">
      <label for="lname">Last Name:</label>
      <input formControlName="lname" placeholder="Last name" name="lname" class="form-control" id="lname">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
